$color1: #344e41;
$color2: #3a5a40;
$color3: #588157;
$color4: #a3b18a;
$color5: #dad7cd;

$fontXLarge: 3em;
$fontLarge: 2.5em;
$fontMedium: 1.8em;
$fontSmall: 1.2em;

$paddingTopSide: 2% 10%;
$marginTop: 32px 0 0 0;

@font-face {
    font-family: roboto;
    src: url(../Roboto-Fontjo.com/Roboto-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    height: fit-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.hide {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}