.back {
    margin-top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    background-color: $color4;
}

.front {
    width: 35%;
    height: 100%;
    background: linear-gradient(180deg, rgba(163, 177, 138, 1) 25%, rgba(88, 129, 87, 1) 100%);
    position: absolute;
    right: 12%;
    @include flex()
}

.front>img {
    margin: 0 auto;
    // background-color: red;
    width: 100%;
    height: 100%;
    // bottom: 0;
    position: absolute;
    // bottom: -14%;
    object-fit: contain;
}